In [199]:
import pandas as pd
import re

In [207]:
df = pd.read_csv('../data/raw_corpora.csv')

In [208]:
def simplify_messages(msg):
    msg = msg.lower()
    msg = msg[3:] if msg[:3] == ' - ' else msg
    
    msg = re.sub(r'["\`]', "'", msg)
    msg = re.sub(r'[\[\]\(\)\{\}\t\n\\\/_=]', '', msg)
    
    msg = re.sub(r'(\d+) *x', r'\1 times', msg)
    msg = re.sub(r'(\d+) *-', r'\1 minus', msg)
    msg = re.sub(r'(\d+) *\+', r'\1 plus', msg)
    msg = re.sub(r'%', ' percent ', msg)
    msg = re.sub(r';', ',', msg)
    
    msg = re.sub(r' +', ' ', msg)
    
    return msg.strip()

df.message = df.message.apply(simplify_messages)

In [209]:
df.head()

,date,message,source,star_sign_index,star_sign_name
0,2019-05-02,you may feel like you're being left out of the...,HoroscopeCom,0,Aries
1,2019-05-03,is a romantic partner having trouble communica...,HoroscopeCom,0,Aries
2,2019-05-04,you may discover your emotions are tempered to...,HoroscopeCom,0,Aries
3,2019-05-05,a current or potential romantic partner might ...,HoroscopeCom,0,Aries
4,2019-05-06,you and a current or potential romantic partne...,HoroscopeCom,0,Aries

In [210]:
alphabet = df.message.tolist()
alphabet = map(lambda m: set(m), alphabet)
alphabet = reduce(lambda s, u: s.union(u), alphabet, set())

In [211]:
print len(alphabet)
print sorted(alphabet)

44
[' ', '!', "'", ',', '-', '.', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', ':', '?', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [216]:
pd.Series(map(lambda x: len(x), df.message.tolist())).describe()

count    48852.000000
mean       401.060775
std         95.834003
min          0.000000
25%        360.000000
50%        407.000000
75%        465.000000
max        676.000000
dtype: float64

In [217]:
df.to_csv('../data/cleaned_corpora.csv', index=None)